<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CCC - SkillLink</title>
<link rel="stylesheet" href="/landingpage.css">
</head>
<body>

<div class="navbar">
    <div class="logo">
        <img src="/images/CCC Logo 1.png" alt="CCC Logo">
        <h1>CCC - SkillLink</h1>
    </div>
    <div class="nav-links">
        <a href="login" id="F-internship">Find Internship</a>
        <a href="/html/loginpage.html" id="P-internship">Post Internship</a>
        <img src="/images/icons8-user-96.png" alt="User Icon" id="user-icon">
        <img src="/images/icons8-search-150.png" alt="Search Icon" id="search-icon">
    </div>
</div>

</body>
</html>