<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CCC - SkillLink</title>
<link rel="stylesheet" href="/css/listinternship.css">
</head>
<body>

<div class="navbar">
    <div class="logo">
        <img src="/images/CCC Logo 1.png" alt="CCC Logo">
        <h1>CCC - SkillLink</h1>
    </div>
    <div class="nav-links">
        <a href="#" id="F-internship">Find Internship</a>
        <a href="#" id="P-internship">Post Internship</a>
        <img src="/images/icons8-user-96.png" alt="User Icon" id="user-icon">
        <img src="/images/icons8-search-150.png" alt="Search Icon" id="search-icon">
    </div>
</div>

<div class="container">
    <h2>Company Name: Samsung</h2>
    <h3>List of Internships:</h3>
  
    <!-- Internship Card -->
    <div class="internship-card">
      <div class="internship-details">
        <h4>Software Engineer – Information Technology</h4>
        <p>Number of Applicants: 2</p>
        <p>Internship Type: Paid Internship</p>
        <p>Duration: Full-Time Internship</p>
      </div>
      <div class="button-group">
        <button class="view-button">View</button>
        <button class="edit-button">Edit</button>
      </div>
    </div>
  
    <div class="internship-card">
      <div class="internship-details">
        <h4>Trouble Shooting – Information Technology</h4>
        <p>Number of Applicants: 6</p>
        <p>Internship Type: Academic Internship</p>
        <p>Duration: Part-Time Internship</p>
      </div>
      <div class="button-group">
        <button class="view-button">View</button>
        <button class="edit-button">Edit</button>
      </div>
    </div>
  
    <div class="internship-card">
      <div class="internship-details">
        <h4>Network Engineer – Information Technology</h4>
        <p>Number of Applicants: 12</p>
        <p>Internship Type: Paid Internship</p>
        <p>Duration: Part-Time Internship</p>
      </div>
      <div class="button-group">
        <button class="view-button">View</button>
        <button class="edit-button">Edit</button>
      </div>
    </div>
  
  </div>

</body>
</html>